* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: 'Inconsolata', monospace;
}


/* img {
    display: block;
    width: 100%;
} */

.fa-phone {
    color: #ff4e00;
    padding-right: 5px;
}


/*HEADER*/

.main-header {
    color: #9c9b9b;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-header {
    padding: 8px;
    width: 100%;
}

.container-menu .icon-menu {
    font-size: 30px;
    /* border: 1px solid #454546;
    padding: 4px; */
    color: #454546;
}

.main__tittle {
    color: #454546;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-size: 1.7em;
    margin: 6px 0;
    text-shadow: 1px 1px 2px black;
}

.container-tell {
    text-align: center;
}

.container-tell>* {
    margin-bottom: 6px;
}

.container-user .content-cart .btn-cart {
    padding: 8px 26px;
    border: 2px solid #e6e1e1;
    cursor: pointer;
    font-size: 1.1em;
    color: #7d6e6e;
    letter-spacing: 1px;
}

.container-user .content-cart .fa-user {
    color: #515152;
}

.btn-cart .fa-cart-plus {
    color: #12b756;
    margin-left: 4px;
}

.container-user .input-search {
    width: 90%;
    max-width: 720px;
    margin-top: 12px;
    margin-bottom: 18px;
    padding: 6px;
    border: 1px solid #d1d1d1;
    background-image: url(../icons/search.png);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position-x: 96%;
    background-position-y: center;
}

.container-user .input-search:focus {
    background-image: none;
}

.main-nav .main-menu {
    list-style: none;
    margin-left: 18px;
}

.main-menu .menu-item {
    padding: 12px 0;
}

.menu-item .menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #828284;
}

.main-nav {
    display: none;
}

.container-tell,
.container-menu .cointaner-tittle {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.container-user {
    width: 100%;
    text-align: center;
}


/*SLIDER*/

.section-slider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 600%;
    min-height: 220px;
    max-height: 400px;
    background: #000000;
    margin-left: -100%;
}

.slider .slider-item {
    position: relative;
    width: 100%;
}

.slider .slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .7;
}

.slider-overflow .title-banner {
    font-size: 1.8em;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.slider-overflow .description-banner {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.slider-overflow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.slider-overflow .button-shop {
    width: 180px;
    text-decoration: none;
    padding: 8px 12px;
    text-align: center;
    background: transparent;
    border: 2px solid #d21244;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 1.2px;
    color: white;
}

.slider-overflow .button-shop:hover {
    background: #d21244;
}


/*BUTTONS*/

.btn-slider {
    position: absolute;
    display: inline-block;
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: calc(50% - 24px);
    cursor: pointer;
}

.btn-left {
    background-image: url('../icons/arrowleft.png');
    left: 0;
}

.btn-rigth {
    background-image: url('../icons/arrowright.png');
    right: 0;
}

.section-glasses-title {
    margin-top: 18px;
    padding: 12px;
    font-size: 1.4em;
    font-weight: 500;
    text-align: center;
}


/*SECTION GLASSES*/

.container-products {
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(260px, 280px)); */
    grid-template-columns: 1fr;
    gap: 28px;
    justify-content: center;
    padding: 40px;
}

.product {
    /* width: 290px;
    height: 380px; */
    position: relative;
    padding: 16px;
    border: 1px solid #ded0d0;
    border-radius: 6px;
    box-shadow: 0px 1px 12px 0px #d1d1d1;
}


/* .product::before {
    content: "keloke";
    position: absolute;
    background: red;
    top: 0;
    left: 0;
    padding: 4px;
    transform: rotate(-90deg);
} */

.product .new-product {
    display: block;
    width: 70px;
    padding: 8px;
    position: absolute;
    top: 10px;
    text-align: center;
    /* font-weight: bold; */
    letter-spacing: 2px;
    color: #fff;
    right: 20px;
    /* -webkit-transform: rotate( 
-90deg
); */
    transform: rotate( -90deg);
}

.new-product.product-sun {
    background: #ff004e;
}

.new-product.product-winter {
    background: #471c96;
}

.container-picture-glass {
    height: 70%;
}

.container-picture-glass img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-glass-info {
    height: 30%;
    text-align: center;
}

.glass-about .glass-name {
    font-size: 1.2em;
    color: #959596;
    margin-bottom: 8px;
}

.glass-about .glass-price {
    font-size: 1.1em;
    color: #ff4e00;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 14px;
}

.cart-container .icon-cart {
    font-size: 22px;
    color: #1a944c;
}